.title{
  text-align: center;
}

#container-filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#users {
  margin-top: 3rem;
  border: 1px solid lightblue;
  padding: 1rem;
}
#statistics {
    margin-top: 3rem;
    border: 1px solid lightblue;
    padding: 1rem;
}

.avatar{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
.space-bottom{
  margin-bottom: 5px;
}